<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>组件切换锚点</title>
    <script src="js/vue2.6.12.js"></script>

</head>
<body>
<div id="app">
    <a href="" v-on:click.prevent="login">登录组件</a>
    <a href="" v-on:click.prevent="reg">注册组件</a>
     <user-login v-if="isloginshow"></user-login>
     <user-reg v-if="isregshow"></user-reg>
</div>
</body>
</html>
<script>
    <!--创建组件-->
    Vue.component("user-login",{
        template:"<h1>登录</h1>"
    })
    Vue.component("user-reg",{
        template: "<h1>注册</h1>"
    })
    new Vue({
        el:"#app",
        data:{
            isloginshow:false,
            isregshow:false,
        },
        methods:{
           login(){
          this.isloginshow=true
          this.isregshow=false
           },
           reg(){
               this.isloginshow=false
                   this.isregshow=true
           }
        }
    })
</script>